
  
  .fleet-image {
    width: 798px;
    height: 100%;
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container .hidden {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none; 
  }
  .container-snap {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }
.features-card{
  -webkit-border-radius: 86px;
-moz-border-radius: 86px;
border-radius: 40px;
}

.Testimonial-card{
-webkit-border-radius: 60px;
-moz-border-radius: 60px;
border-radius: 70px;
}

