.fleet-image {
  width: 720px;
  margin-right: -100px;
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
  position: relative;
  top: 20px;
}
.fleet-image.show {
  opacity: 1;
  top: 30px;
  transform: translateY(-20px);
}

.fleet-item {
  margin-left: 4px;
}
.image-container {
  position: relative;
}

.image-container .hidden {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.Testimonial-card {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 70px;
}
.newsletter {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 40px;
}
.container-snap {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}

.wrapper {
  display: flex;
}

.features-card {
  -webkit-border-radius: 86px;
  -moz-border-radius: 86px;
  border-radius: 40px;
}

.custom-modal {
  border-radius: 1.5rem !important;
}

.Testimonial-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 20px;
}

.fleet-item-wrapper {
  width: 100%;
}

.image-container {
  width: 50%;
}

.fleet-image-wrapper {
  max-width: 100%;
}

.blur {
  filter: blur(10px);
}
.before-after-line::before,
.before-after-line::after {
  content: "";
  position: absolute;
  top: 60%;
  width: 40%;
  height: 1px;
  background-color: #333;
}

.before-after-line::before {
  left: -50%;
}

.before-after-line::after {
  right: -50%;
}

.select-container:hover select {
  border-color: none;
}

.slider::before,
.slider::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.slider::before {
  left: 0;
  background: linear-gradient(to right, #fff, rgba(242, 242, 242, 0));
}

.slider::after {
  right: 0;
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}
.image-slide-up {
  transform: translateY(100%);
  transition: transform 0.8s ease-out;
}

.image-slide-up.show {
  transform: translateY(-10px);
}
.transparent-input {
  background-color: transparent;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root, .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root, .css-i4bv87-MuiSvgIcon-root{
  border: 0px solid #ffffff !important;
  color: #ffffff !important;
}


