@tailwind base;
@tailwind components;
@tailwind utilities;

.indexDate > * .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.bookingDate > * .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.indexDate > * .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
.bookingDate > * .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  color: transparent !important;
}

fieldset.MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

.Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

.indexDate > * .css-i4bv87-MuiSvgIcon-root {
  color: white !important;
}

.bookingDate > * .css-i4bv87-MuiSvgIcon-root {
  color: #5a5a5a !important;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important ;
}

.css-12zenr0-MuiInputBase-root-MuiOutlinedInput-root {
  color: transparent !important;
}

.text-shadow {
  text-shadow: 2px 2px 8px #000;
}

.no-text-shadow {
  text-shadow: none !important;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulsate {
  animation: pulsate 2s infinite ease-in-out;
}

/* .PhoneInputInput:focus {
  outline: none;
}

.PhoneInputCountrySelect option:checked {
  background-color: #5c0632 !important;
  color: white !important;
}
.PhoneInputCountrySelect option:hover {
  background-color: #b48ca1 !important;
  color: white !important;
} */

.react-tel-input {
  width: 100% !important;
}
.flag-dropdown {
  background-color: transparent !important;
  border: none !important;
}

.form-control {
  width: 100% !important;
  border: none !important;
  font-size: medium !important;
}

.react-tel-input .flag-dropdown .country-list .country.highlight {
  background-color: #5c0632 !important; /* Background color for the selected option */
  color: white !important; /* Text color for the selected option */
}

/* Change the background color and text color when an option is hovered */
.react-tel-input .flag-dropdown .country-list .country:hover {
  background-color: #b48ca1 !important; /* Background color on hover */
  color: white !important; /* Text color on hover */
}

.country-list{
  margin-left: -5px !important;
  margin-bottom: -10px !important;
}